<footer class="footer">
    <!--    定义一个动态显示时间的函数-->
    <script>
        function getTime() {
            var date = new Date();
            document.getElementById("labelTime").innerHTML =  "©2021-" +date.getFullYear();
        }
    </script>
  <div class="footer-meta">
    <div class="footer-container">
<!--      在div中显示-->
<!--     <label id="labelTime" onload="getTime()"></label>-->
        ©2021-2022 &nbsp;&nbsp;
        <i class="fa fa-user"></i> yemuc1210's blog
      <p>QQ:1006537138 |  <a href="https://gitee.com/yemucn/" target="_blank">gitee |</a>
        <a href="https://github.com/yemuc1210" target="_blank">github</a>
      </p>
    </div>
  </div>
</footer>